.frame {
    cursor: pointer;
}

.frame:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

table {
    width: 100%;
    table-layout: fixed;
}

.stopped {
    background-color: rgba(125, 125, 125, 0.5);
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.location {
    cursor: pointer;
}

.location:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

.focused {
    border: 1px solid #00B7CE;
}

button {
    cursor: pointer;
}

#recordButton, #goBackToButton, #goToButton {
    cursor: pointer;
}
